body {
  padding: 0;
  margin: 0;
  /* background-color: #707B7C; */
  background-color: black;
}

#map {
  min-height: 500px;
  min-width: 800px;
  background: black;

},
body,
html {
  height: 100%;
}


.info {
    padding: 6px 8px;
    /* background: white; */
    background: #a9a7a7;
    /* box-shadow: 0 0 15px white; */
    border-radius: 5px;
    opacity: 0.8;
}

title, h1, h4, h5{
  text-align: center;
  color: white;
}

p {
  color: white;
}

.footnote {
  text-align: center;
  font-size: 9pt;
}
